#ask-me {
    height: 100px;
    width: 300px;
    margin: 20px;
    border-radius: 22px;
    font-size: larger;
    cursor: pointer;
    border: none;
    color: white;
    background: rgb(31, 55, 136);
    filter: drop-shadow(0px 4px 5px black);
    font-family: 'Courier New', Courier, monospace;
    /* background: linear-gradient(97.38deg,rgba(48, 127, 173, 0.99) 5.73%,rgba(99, 51, 128, 0.99) 94.27%);; */
}
#ask-me:hover {
    filter: drop-shadow(2px 4px 21px black);
    transition: all .3s;
}
body {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #394867;
    font-family: 'Courier New', Courier, monospace;
}
#headingJoke {
    margin-top: 22px;
    border: 2px solid white;
    border-radius: 16px;
    padding: 20px;
    /* background-clip: content-box; */
    color: yellowgreen;
}
.footer-here {
    position: fixed;
    bottom: 0;
    margin: 10px;
    color: white;
}
.link-url {
    color: white;
}
.link-url:hover {
    color: blue;
}